PORT=5000
NODE_ENV=development

# Database Configuration (AWS RDS or Local)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=pelayanan_publik

# AWS Credentials (AWS IAM User)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1

# AWS S3 Configuration
S3_BUCKET_NAME=desaconnect-storage-putra

# AWS CloudFront URL (Production Only)
CLOUDFRONT_URL=https://your-id.cloudfront.net

